table{
    color: #fff;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em Arial, Helvetica, sans-serif;
}
tr{
    height: 16.02vh;
    background-color: #4e494d;
}
td{
    width: 25vw;
    border: 1px solid #4e494d;
}
#inputBox{
    background-color: #171617;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color: #fff;
    border: 0px;
}
.digitButton {
    background-color: #171617;
}
.digitButton:hover {
    background-color: #ca109b;
}
.operatorButton {
    background-color: #f7137d;
}
.operatorButton:hover {
    background-color: #6c6a6c;
}
.ACButton {
    background-color: #ff00ae99;
}
.ACButton:hover {
    background-color: #6c6a6c;
}